<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS Stylesheets -->
  
  <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />

  
</head>


<body>
    <style>
        body {
          text-align: justify;
        }
      </style>
        <h1>About</h1>
        <p>
          Hi! We are Team3 and this is our capstone programming project.
          Tasked with creating a simple, easy to use app to track blood-glucose, we dove in to create the simplest, easiest tracker around.Managing your blood-glucose levels is hard enough. Give GlucoCheck a try!
        </p>
          <p>
            GlucoCheck is an application designed for diabetic patients who need to keep track of their glucose level and insulin intake. The GlucoCheck app is a medical data tracking web application that simplifies insulin intake scheduling by keeping track of blood-glucose levels. It is unlike other blood-glucose tracking apps such as Diabetes Analyzer, Fooducate or mySugr in that our product is free, extremely simple to use and it has no ads or intrusive features that make using the app more complicated. 
        </p> 
    
    
        <h1>Contact Us</h1>
        <a href="mailto:GlucoHelp@outlook.com">GlucoHelp@outlook.com</a>
        
        <br>
        <br>
     
        <a href="/">
          <button class="button" style="height:30px;width:70px;"><%= __('back') %></button>
        </a>
            
        
</body>


</html>