<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS Stylesheets -->
  
  <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />
  <link href="/css/about.css" rel="stylesheet" type="text/css" />

  <!--Font family for title/heading-->
  <link 
  href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" 
  rel="stylesheet"
/> 



  
</head>


<body>
  <h1>About</h1>
  <p>
    Hi! We are Team3 and this is our capstone programming project.
    <br>
    <br>
    Tasked with creating a simple, easy to use app to track blood-glucose, we dove in to create the simplest, easiest tracker around. Managing your blood-glucose levels is hard enough. Give GlucoCheck a try! Be well, know your BGL!
    
  </p>
  

  
  
  <h1>Contact Us</h1>

  <a href="mailto:GlucoHelp@outlook.com">GlucoHelp@outlook.com</a>
  <br>
  <br>
  <a href="/">
    <button class="button" style="height:30px;width:70px;"><%= __('back') %></button>
  </a>

  <br>
  <br>
  <br>
  <br>

  <img style="padding: 15px 5px 10px 20px; position: sticky; left: -10px; bottom: 0;" src="/images/BloodDrop.png" width = "100" height = "40" alt = "Blood Drop Logo"/>

  

            
        
</body>


</html>