<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <!-- Scripts -->
    <script src="/chart.js/dist/Chart.min.js"></script>
    <script src="/chartjs-plugin-annotation/chartjs-plugin-annotation.min.js"></script>


    <script src="/scripts/bundle.js"></script>
    <script src="/scripts/formchecks.js"></script>

    <script src="/scripts/dashboard.js"></script>
    <script> main('<%- JSON.stringify(locals.data, null, 0) %>'); </script>


    

    <!-- CSS Stylesheets -->
    <link href="/css/dashboard.css" rel="stylesheet"/>
    <link href="/bulma/css/bulma.css" rel="stylesheet"/>

    
  
  </head>
  
  <div class="navbar1">
    
    <div class="dropdown1">
      
      <button class="dropbtn1" ><%- locals.username %> </button>
      <div class="dropdown-content1">
          <a href="/logout"><%= __('sign_out') %></a>
          
      </div>
    </div>
  </div>

  <br>

  <body>
    <div class="content is-max-desktop">
      <div class="container" style="width: 50%">

        <form action="/dashboard" method="POST" onsubmit="dashboard()">

          <input class="input" type="text" name="glucoselevel" placeholder="glucoselevel"/>

          <br>
          <br>
          <button class="button" ><%= __('submit') %></button>
        </form>

        <canvas id="myChart"></canvas>
        <br>
        

        

        <input class="input" type="text" name='foodinput' id="foodinput" placeholder="food search (work in progress)"/>

        <div id = "match-list"></div>
      

       


        

      </div>
    </div>

    <img src="/images/BloodDrop.png" />


  </body>


  

</html>

