<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS Stylesheets -->
  <link href="/css/login.css" rel="stylesheet" type="text/css" />
  <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />

  <!-- Scripts -->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <script src="scripts/formchecks.js"></script>
  <script src="scripts/errortranslations.js"></script>
  <script> translatelogin('<%- locals.error %>'); </script>

</head>


<body>
    <h1>F.A.Q.</h1>
    
    <h2>How to navigate the registration process</h2>

<p>
    The following are steps to register an account with GlucoCheck:<br>
    <hr>
1.	Navigate to the Sign-Up Form.<br>
2.	Enter your first name.<br>
3.	Enter your last name.<br>
4.	Enter your email address.<br>
5.	Enter your age.<br>
6.	Use the drop-down menu to select your diagnosis.<br>
7.	Enter a username.<br>
8.	Enter a password.<br>
9.	Click “Create Account”.<br>
10.	The previous step will take you to the login screen.
</p>

<h2>How to navigate the login screen</h2>

<p>
    The following are steps to login to GlucoCheck:<br>
    <hr>
1.	Enter your username.<br>
2.	Enter your password.<br>
3.	Click “Login”.<br>
4.	The previous step will take you to the dashboard.
</p>

<h2>How to log your glucose levels</h2>

<p>
    The following are steps to log your glucose levels:<br>
    <hr>
1.	Enter your glucose level in the designated location.<br>
2.	Click “Submit”.<br>
3.	Your glucose level is now logged on the tracker and shows at the bottom of the calendar.
</p>

<h2>How to log your carb intake in addition to your glucose level:</h2>

<p>
    The following are steps to log your carb intake in addition to your glucose level:<br>
    <hr>
1.	Enter the name of the food(s) consumed in the food search bar.<br>
2.	Select the item that best matches your entry.<br>
3.	Your entry will be logged on the screen under the food search bar.<br>
4.	Should you enter a food mistakenly, simply hit the “x” by the food to remove the selection.<br>
5.	Enter your glucose level in the designated location.<br>
6.	Click “Submit”.<br>
7.	Your glucose level and carb intake are now logged on the tracker and shows at the bottom of the calendar.
</p>

<h2>How to access the multilingual function to view the application in Spanish:</h2>

<p>
    The following are steps to access the multilingual function to view the application in Spanish:<br>
    <hr>
1.	At the top of the Sign Up/Login page, hover your mouse over “Choose Language”.<br>
2.	Choose “Spanish” from the drop-down menu that appears.<br>
3.	Once you click on “Spanish”, you will be taken to the Spanish version of the application.<br>
4.	Once here, simply follow the previous instructions for account creation, login and tracking data.
</p>

    
</body>


</html>