<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
  <title>GlucoCheck FAQ</title>

  <!-- CSS Stylesheets and Fonts-->
  <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />
  <link href="/css/faq.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet"/>

  
</head>


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" href="/">
      <h1><span style="font-size:2.1vw; color: rgb(7, 170, 219); ">GlucoCheck</span></h1>
    </a>
    

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    
  </div>

  <div id="navbarBasicExample" class="navbar-end" style="font-weight: 400; font-size: large; padding-right: 3%;">
    <div class="navbar-start">
     
    

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Select a language
        </a>

        <div class="navbar-dropdown">



          <a href="setLocale/en" class="navbar-item"><%= __('english') %></a>
          <a href="setLocale/es" class="navbar-item"><%= __('spanish') %></a>
          
          
          
        </div>
      </div>

      <a href="/about" class="navbar-item">
        About us
      </a>


      <a href="/faq" class="navbar-item">
        FAQ
      </a>

    </div>
  </div>

</nav>




<body>
  <center>
    <br><br><br>
  <div class ="box" style="box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);">

    <br>
    <br>
    <h1><span style="font-size:2.5vw;">Frequently Asked Questions</span></h1>

    <br>
    
    <h2><span style="font-size:1.5vw;">How to navigate the registration process</span></h2>


    <h3><span style="font-size:1.5vw;">The following are steps to register an account with GlucoCheck:</span></h3><br>

<p style="font-size:1vw;">
1.	Navigate to the Sign-Up Form.<br>
2.	Enter your first name.<br>
3.	Enter your last name.<br>
4.	Enter your email address.<br>
5.	Enter your age.<br>
6.	Use the drop-down menu to select your diagnosis.<br>
7.	Enter a username.<br>
8.	Enter a password.<br>
9.	Click “Create Account”.<br>
10.	The previous step will take you to the login screen.
</p>

<h2><span style="font-size:1.5vw;">How to navigate the login screen</span></h2>

<h3><span style="font-size:1.5vw;">The following are steps to login to GlucoCheck:</span></h3><br>

<p style="font-size:1vw;">
1.	Enter your username.<br>
2.	Enter your password.<br>
3.	Click “Login”.<br>
4.	The previous step will take you to the dashboard.
</p>

<h2><span style="font-size:1.5vw;">How to log your glucose levels</span></h2>

<h3><span style="font-size:1.5vw;">The following are steps to log your glucose levels:</span></h3><br>

<p style="font-size:1vw;">
1.	Enter your glucose level in the designated location.<br>
2.	Click “Submit”.<br>
3.	Your glucose level is now logged on the tracker and shows at the bottom of the calendar.
</p>

<h2><span style="font-size:1.5vw;">How to log your carb intake in addition to your glucose level</span></h2>

<h3><span style="font-size:1.5vw;">The following are steps to log your carb intake in addition to your glucose level:</span></h3><br>

<p style="font-size:1vw;">
1.	Enter the name of the food(s) consumed in the food search bar.<br>
2.	Select the item that best matches your entry.<br>
3.	Your entry will be logged on the screen under the food search bar.<br>
4.	Should you enter a food mistakenly, simply hit the “x” by the food to remove the selection.<br>
5.	Enter your glucose level in the designated location.<br>
6.	Click “Submit”.<br>
7.	Your glucose level and carb intake are now logged on the tracker and shows at the bottom of the calendar.
</p>

<h2><span style="font-size:1.5vw;">How to access the multilingual function to view the application in Spanish</span></h2>

<h3><span style="font-size:1.5vw;">The following are steps to access the multilingual function to view the application in Spanish:</span></h3><br>




<p style="font-size:1vw;">
1.	At the top of the Sign Up/Login page, hover your mouse over “Choose Language”.<br>
2.	Choose “Spanish” from the drop-down menu that appears.<br>
3.	Once you click on “Spanish”, you will be taken to the Spanish version of the application.<br>
4.	Once here, simply follow the previous instructions for account creation, login and tracking data.
</p>
<br><br><br>
<h1><span style="font-size:7vw;">Contact Us</span></h1>
        <a href="mailto:GlucoHelp@outlook.com">GlucoHelp@outlook.com</a> 


    
</body>

<br>
<br>

<a href="/">
    <button class="button" style="height:30px;width:70px;"><%= __('back') %></button>
</a>



</div>



<br>
<br>
<br>
<br>

<img style="padding: 15px 5px 10px 20px; position: sticky; left: -10px; bottom: 0;" src="/images/BloodDrop.png" width = "100" height = "40" alt = "Blood Drop Logo"/>




</html>