<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <!-- CSS Stylesheet -->
    <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="content is-max-desktop">
      <h1>Sign up form</h1>
      <div class="container" style="width: 50%;">
        <form action="/register" method="POST">
          <input
            class="input"
            type="text"
            name="firstname"
            placeholder="firstname"
          />
          <input
            class="input"
            type="text"
            name="lastname"
            placeholder="lastname"
          />
          <input
            class="input"
            type="text"
            name="email"
            placeholder="email"
          />
          <input
            class="input"
            type="text"
            name="username"
            placeholder="username"
          />
          <input
            class="input"
            type="password"
            name="password"
            placeholder="password"
          />
          <button class="button">Submit</button>
        </form>
      </div>
    </div>

    <li><a href="/login">Login</a></li>
    <li><a href="/">Back</a></li>
  </body>
</html>
