<h1>Diabetes Tracker (Coming Soon)</h1> 


<form action="/secret" method="POST"> 
    <input type="text" name="glucoselevel" 
        placeholder="glucoselevel"> 
    
    <button>Submit</button> 
</form> 

  
<img src="/images/BloodDrop.png">
  

<li><a href="/logout">Logout</a></li> 