<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <!-- Scripts -->
    <script src="/chart.js/dist/Chart.min.js"></script>

    <!-- CSS Stylesheet -->
    <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="content is-max-desktop">
      <h1>Diabetes Tracker (Coming Soon)</h1>
      <div class="container" style="width: 50%">
        <form action="/secret" method="POST" onsubmit="required()">
          <input
            class="input"
            id="glucoseInput"
            type="text"
            name="glucoselevel"
            placeholder="glucoselevel"
          />

          <button class="button" >Submit</button>
        </form>

        <canvas id="myChart"></canvas>
      </div>
    </div>

    <img src="images/BloodDrop.png" />

    <button type=“button”><a href="/logout">Logout</a></button>

    <script>
      // Get timestamp when submit button is hit
      var now = new Date();
      var timestamp =
        now.getHours(now).toLocaleString() +
        ":" +
        now.getMinutes(now).toLocaleString();
      var timestamps = [];
      //! CHANGE THIS LATER, maybe add timestamps to mongodb. timestamps.push(timestamp);

      // Get JSON data being sent back on POST
      console.log('<%= locals.glucose %>');
      var jsonObject = '<%- JSON.stringify(locals.glucose, null, 0) %>'
      jsonObject = JSON.parse(jsonObject);
      var jsonFirstName = jsonObject['firstname'];
      var jsonGluLength = jsonObject['glucoselevels'].length;
      var jsonGlucose = [];
      for (i = 0; i < jsonGluLength; i++) {
        jsonGlucose.push(parseFloat(jsonObject['glucoselevels'][i]));
        //! CHANGE THIS LATER, placeholder label
        timestamps.push(i * 10);
      }

      //Display chart
      var ctx = document.getElementById("myChart").getContext("2d");
      var myChart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",

        // The data for our dataset
        data: {
          labels: timestamps,
          datasets: [
            {
              label: "My First dataset",
              backgroundColor: "rgb(255, 99, 132)",
              borderColor: "rgb(255, 99, 132)",
              data: jsonGlucose,
            },
          ],
        },

        // Configuration options go here
        options: {},
      });
      
      // Function applied on form to prevent a POST if input is invalid
      function required() {
        var inputText = document.getElementById('glucoseInput').innerText;
        if (inputText.length == 0){
          event.preventDefault();
          alert("Please enter a value");
        }
        else if (isNaN(inputText)) {
          event.preventDefault();
          alert("Please enter a number")
        }
      }

    </script>
  </body>
</html>
