<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <!-- Scripts -->
    <script src="/chart.js/dist/Chart.min.js"></script>

    <!-- CSS Stylesheet -->
    <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="content is-max-desktop">
      <h1>Diabetes Tracker (Coming Soon)</h1>
      <div class="container" style="width: 50%;">
        <form action="/secret" method="POST">
          <input
            class="input"
            type="text"
            name="glucoselevel"
            placeholder="glucoselevel"
          />

          <button class="button">Submit</button>
        </form>

        <canvas id="placeholderChart"></canvas>
      </div>
    </div>

    <img src="images/BloodDrop.png" />

    <li><a href="/logout">Logout</a></li>

    <script>
      let placeholderChart = document.getElementById('placeholderChart').getContext('2d');

      let someChart = new Chart(placeholderChart, {
        type:'line',
        data:{
          labels: ['label', 'label', 'label', 'label'],
          datasets:[{
            label:'label',
            data:[
              5,
              8,
              10,
              3
            ],
          }]
        },
        options:{}
      });
    </script>
  </body>
</html>
