<h1>Diabetes Tracker (Coming Soon)</h1> 


<form action="/secret" method="POST"> 
    <input type="text" name="glucoselevel" 
        placeholder="glucoselevel"> 
    
    <button>Submit</button> 
</form> 

  
<img src="/images/BloodDrop.png">
  
<h1>This is home page</h1> 
  
<li><a href="/register">Sign up!!</a></li> 
<li><a href="/login">Login</a></li> 
<li><a href="/logout">Logout</a></li> 